body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.myBtns {
	height: 100px;
	background-color: purple;
	color: white;
	border: none;
	padding: 25px; 
	font-size: 25px;
	margin: 10px; 
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	
}